nav{

  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color:#FFFFFF;
  padding :1.5em ;
  display: flex;
  justify-content:space-between;
  position:fixed;
  top: 0px;
 }
.logo{
  font-family: 'Bungee', cursive;
 }
.btnn{
  display:flex;
  flex-direction: column;
}
@keyframes anime{
   50% {transform: translate(0px, 10px); }
}
.display{
  color: red;
  border: none;
  font-weight: bold;
  font-size: 2rem;
  display:flex;
  justify-content:center;
  animation-name: anime;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.display:hover{
border:none;
}
