button{
  font-family: 'Bungee', cursive;
  background-color:  #4056A1;
  border: transparent;
  color: white;
  
}
label{
  color:  rgb(92, 90, 90);
  font-weight: bold;
}
.tweet-containerr{
  border-bottom: solid 5px rgb(92, 90, 90);
  padding-bottom:1rem ;
}
.form-footer{
  margin-top: 15px;
  padding: 10px;
  display:flex;
  justify-content: space-between;
}
.counter{
  font-family: 'Bungee', cursive;
  color:  rgb(92, 90, 90);
}
textarea {
  margin-top:10px;
  width: 100%;
  background-color: transparent;
  border: none;
}
textarea:focus{
  border: transparent;
}
.change{
  color:red;
}
